.title{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0 10px 10px;
    background: #323e4b;
    margin-top: 20px;
    h3{
        font-size: 13px;
        color: #f1ebeb;
        font-weight: 300;
    }
}